.login-container {
  display: flex;
  margin-top: 2.5%;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 200;
}

.login-form-wrapper {
  padding: 50px;
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-container {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  max-width: 100%;
  overflow: hidden;
}

.banner {
  height: 70px;
}

img {
  object-fit: contain;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 40%;
}

.form-group {
  width: 70%;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.password-input-container {
  position: relative;
}

.show-password-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #008c51;
}

button[type='submit'] {
  padding: 10px 15px;
  background-color: #008c51;

  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 20%;
}

button[type='submit']:hover {
  background-color: #25cf88;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

/* Tablet styles */
@media (max-width: 1024px) {
  /* .left {
    width: 30%;
  } */
  .right {
    width: 100%;
  }
}

/* Smartphone styles */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }
  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
  .login-form-wrapper {
    padding: 20px;
  }
  .ecitizen-logo {
    display: none;
  }
}
